:root{
    --font-padrao:'Bad Script', cursive;
    --font-titulo:'Rubik Iso', cursive;
    --font-money: 'Inconsolata', monospace;
}

body{
    height: 100vh;
    width: 100%;
    padding: 5px;
    background-color: rgba(70, 12, 231, 0.281);
}

header{
    height: 15%;
    font-family: var(--font-titulo);
    text-align: center;
    font-size: 1.3rem;
    color: rgb(0, 52, 121);
    text-shadow:2px 2px 4px rgb(0, 52, 121);;
}

#h_titulo{
    font-size: 3rem;
}

main{
    background-image: url(assets/dolar-digital.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    padding: 10px;
    font-family: var(--font-money);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* SEÇÃO MOEDAS E SUAS INFORMÇÕES */
#m_moedas{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.card_moeda{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    color: rgb(0, 52, 121);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 20px 3px 30px;
    width: 48%;
    gap: 25px;
}


.sel_moedas{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-padrao);
    background-color: rgba(70, 12, 231, 0.281);
    color: rgb(0, 52, 121);
    border: none;
    border-radius: 10px;
    text-align: center;

}

.moeda_dados{
    font-size: 1rem;
}

.moeda_dados{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* SEÇÃO DESCRIÇÃO DAS INFORMAÇÕES DAS MOEDAS */
#descricao_card{
    background-color: rgba(255, 255, 255, 0.993);
    color: rgb(0, 119, 255);
    width: 100%;
    font-size: .8rem;
    font-weight: bold ;
    padding: 5px;
    border-radius: 5px;

}

#descricao_card h3{
    margin-bottom: 20px;
    text-decoration: underline;
}
#descricao_card p {
    margin-top: 5px;
}

li{
    list-style: none;
}



footer{
   height: auto;
   font-size: 80%;
   text-align: center;
   font-weight: bold;
   padding-top: 2px;
   color: rgb(0, 52, 121);
   letter-spacing: 1px;
}